body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
.btn {
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 6px;   
    margin-bottom: 4px; 
    background-color: #5c5757;
    color: #fff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #656769;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}

form {
    width: 100%;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.payslip-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
}

.payslip-box h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.text-right {
    text-align: right;
}

.print-btn {
    margin-top: 20px;
    text-align: center;
}
