{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Payslip</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container payslip-box">
    <a href="{% url 'employee_list' %}">Back</a>

    <h2>Employee Payslip</h2>

    <p><strong>ID:</strong> {{ employee.emp_id }}</p>
    <p><strong>Name:</strong> {{ employee.name }}</p>
    <p><strong>Designation:</strong> {{ employee.designation }}</p>

    <h3>Salary Details</h3>
    <p>Basic Salary: ₹{{ employee.basic_salary }}</p>
    <p>HRA: ₹{{ salary.hra }}</p>
    <p>DA: ₹{{ salary.da }}</p>
    <p>Allowances: ₹{{ salary.allowances }}</p>

    <p><strong>Gross Salary:</strong> ₹{{ gross_salary }}</p>

    <h3>Deductions</h3>
    <p>Deductions: ₹{{ salary.deductions }}</p>
    <p>Leaves Taken: {{ salary.leaves_taken }}</p>

    <h3>Net Payable: ₹{{ net_salary }}</h3>

    <div class="print-btn">
        <button class="btn btn-primary" onclick="window.print()"> Print Payslip</button>
    </div>
</div>

</body>
</html>
